<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="Kapman" version="1">
	<MenuBar>
                <Menu name="settings">
                        <Action name="sounds" />
                </Menu>
	</MenuBar>
</gui>

