[Desktop Entry]
Type=Application
Version=1.0
Name=Kapman
GenericName=Pac-Man clone
GenericName[et]=Pac-Mani kloon
GenericName[sv]=Klon av Pac-Man
Comment=Eat pills escaping ghosts
Comment[et]=Õgi pille ja põgene tontide eest
Comment[sv]=Ät piller och undkom spöken
Icon=kapman
TryExec=kapman
Exec=kapman
Categories=Game;ArcadeGame
