[Desktop Entry]
Type=Application
Version=1.0
Name=Kapman
Name[x-test]=xxKapmanxx
GenericName=Pac-Man clone
GenericName[el]=Κλώνος Pac-Man
GenericName[gl]=Clone do Pac-Man
GenericName[lt]=Pac-Man klonas
GenericName[nds]=Pacman-Kloon
GenericName[pt]=Clone do Pac-Man
GenericName[pt_BR]=Clone do Pac-Man
GenericName[ru]=Клон Pac-Man
GenericName[sv]=Klon av Pac-Man
GenericName[uk]=Клон гри Pac-Man
GenericName[x-test]=xxPac-Man clonexx
GenericName[zh_CN]=Pac-Man 克隆
GenericName[zh_TW]=另一款小精靈遊戲
Comment=Eat pills escaping ghosts
Comment[el]=Τρώτε τα χάπια και αποφεύγετε τα φαντάσματα
Comment[gl]=Coma pilulas mentres escapa das pantasmas
Comment[nds]=Pillen freten un vör Spökels utneihen
Comment[pt]=Comer pílulas enquanto foge dos fantasmas
Comment[pt_BR]=Comer pílulas enquanto foge dos fantasmas
Comment[ru]=Поедайте пилюли, спасаясь от привидений
Comment[sv]=Ät piller och undkom spöken
Comment[uk]=Їжте пілюлі, тікайте від привидів
Comment[x-test]=xxEat pills escaping ghostsxx
Comment[zh_CN]=逃脱精灵吃豆子
Comment[zh_TW]=吃掉所有的豆子，並設法逃避小精靈的追捕
Icon=kapman
TryExec=kapman
Exec=kapman
Categories=Qt;KDE;Game;ArcadeGame;
X-DocPath=kapman/index.html
