[Desktop Entry]
Type=Application
Version=1.0
Name=Kapman
Name[bs]=Kapman
Name[ca]=Kapman
Name[ca@valencia]=Kapman
Name[cs]=Kapman
Name[da]=Kapman
Name[de]=Kapman
Name[el]=Kapman
Name[en_GB]=Kapman
Name[eo]=Kapman
Name[es]=Kapman
Name[et]=Kapman
Name[eu]=Kapman
Name[fi]=Kapman
Name[fr]=Kapman
Name[ga]=Kapman
Name[gl]=Kapman
Name[hne]=केपमेन
Name[hr]=Kapman
Name[hu]=Kapman
Name[id]=Kapman
Name[it]=Kapman
Name[ja]=Kapman
Name[kk]=Kapman
Name[km]=Kapman
Name[ko]=Kapman
Name[lt]=Kapman
Name[lv]=Kapman
Name[mr]=केपमेन
Name[ms]=Kapman
Name[nb]=Kapman
Name[nds]=Kapman
Name[nl]=Kapman
Name[nn]=Kappmann
Name[pl]=Kapman
Name[pt]=Kapman
Name[pt_BR]=Kapman
Name[ro]=Kapman
Name[ru]=Kapman
Name[sk]=Kapman
Name[sl]=Kapman
Name[sq]=Kapman
Name[sr]=Капмен
Name[sr@ijekavian]=Капмен
Name[sr@ijekavianlatin]=Kapman
Name[sr@latin]=Kapman
Name[sv]=Kapman
Name[tr]=Kapman
Name[ug]=Kapman
Name[uk]=Kapman
Name[x-test]=xxKapmanxx
Name[zh_CN]=Kapman
Name[zh_TW]=Kapman
GenericName=Pac-Man Clone
GenericName[bs]=Klon Pac-Mana
GenericName[ca]=Un clon del Pac-Man
GenericName[ca@valencia]=Un clon del Pac-Man
GenericName[cs]=Klon Pacmana
GenericName[da]=Klon af Pac-Man
GenericName[de]=„Pac-Man“-Spiel
GenericName[el]=Κλώνος Pac-Man
GenericName[en_GB]=Pac-Man Clone
GenericName[es]=Clon de Pac-Man
GenericName[et]=Pac-Mani kloon
GenericName[eu]=Pac-Man-en klona
GenericName[fi]=Pac-Man-klooni
GenericName[fr]=Clone de Pac-Man
GenericName[ga]=Clón Pac-Man
GenericName[gl]=Clon do Pac-Man
GenericName[hr]=Klon Pac-Mana
GenericName[hu]=Pac-Man-szerű játék
GenericName[id]=Klona Pac-Man
GenericName[it]=Clone di Pac-Man
GenericName[ja]=パックマンのクローン
GenericName[kk]=Pac-Man ойынның клоны
GenericName[km]=ក្លូនរបស់​ Pac-Man
GenericName[ko]=팩맨 클론
GenericName[lv]=Pac-Man klons
GenericName[mr]=पेक-मेन प्रतिकृती
GenericName[ms]=Klon Pac-Man
GenericName[nb]=Klone av Pac-Man
GenericName[nds]=Pacman-Kloon
GenericName[nl]=Kloon van Pac-Man
GenericName[nn]=Pac-Man-klon
GenericName[pl]=Klon Pac-mana
GenericName[pt]=Clone do Pac-Man
GenericName[pt_BR]=Clone do Pac-Man
GenericName[ro]=Clonă Pac-Man
GenericName[ru]=Клон Pac-Man
GenericName[sk]=Klon Pac-mana
GenericName[sl]=Dvojnik Pac-Mana
GenericName[sr]=Клон Пакмена
GenericName[sr@ijekavian]=Клон Пакмена
GenericName[sr@ijekavianlatin]=Klon Pacmana
GenericName[sr@latin]=Klon Pacmana
GenericName[sv]=Klon av Pac-Man
GenericName[tr]=Pac-Man Klonu
GenericName[uk]=Клон гри Pac-Man
GenericName[x-test]=xxPac-Man Clonexx
GenericName[zh_CN]=Pac-Man 克隆
GenericName[zh_TW]=另一款小精靈遊戲
Comment=Eat pills escaping ghosts
Comment[bs]=Jedite pilule bježeći od duhova
Comment[ca]=Mengeu píndoles mentre escapeu dels fantasmes
Comment[ca@valencia]=Mengeu píndoles mentre escapeu dels fantasmes
Comment[da]=Spis piller mens du flygter fra spøgelser
Comment[de]=Pillen fressen und Geistern entkommen
Comment[el]=Τρώτε τα χάπια και αποφεύγετε τα φαντάσματα
Comment[en_GB]=Eat pills escaping ghosts
Comment[es]=Coma píldoras escapando de los fantasmas
Comment[et]=Neela kuulikesi ja põgene tontide eest
Comment[eu]=Jan pilulak mamuetatik ihes eginez
Comment[fi]=Syö palloja ja pakene aaveita
Comment[fr]=Manger les pilules tout en évitant les fantômes
Comment[ga]=Ith piollairí agus éalaigh ó thaibhsí
Comment[gl]=Come pílulas mentres escapas das pantasmas
Comment[hu]=Bogyókat kell begyűjteni szellemekkel
Comment[id]=Makan pil sambil melarikan diri dari hantu-hantu
Comment[it]=Mangia le pastiglie mentre sfuggi ai fantasmi
Comment[ja]=モンスターを避けてドットを食べるゲーム
Comment[kk]=Елестерден жалтарып, бауырсақтарды жеңіз
Comment[km]=ស៊ី​ថ្នាំ​ដើម្បី​រត់​​គេច​ពី​​​​ខ្មោច
Comment[ko]=알약을 먹고 유령들로부터 도망치기
Comment[lv]=Ēd tabletes un izvairies no spokiem
Comment[mr]=भूतांपासून लपून गोळ्या खा
Comment[nb]=Spis piller og unnslipp spøkelser
Comment[nds]=Pillen freten un vör Spökels utneihen
Comment[nl]=Pillen eten terwijl u spoken ontwijkt
Comment[nn]=Et piller og flykt frå skrømta
Comment[pl]=Jedz pigułki i uciekaj duchom
Comment[pt]=Comer pílulas enquanto foge dos fantasmas
Comment[pt_BR]=Coma as pílulas escapando dos fantasmas
Comment[ro]=Mănâncă pastile fugind de fantome
Comment[ru]=Поедайте пилюли, спасаясь от привидений
Comment[sk]=Jedzte pilulky a utekajte duchom
Comment[sl]=Jejte tablete in pobegnite duhovom
Comment[sq]=Ha pilula duke iu ikur fantazmave
Comment[sr]=Једите бобице и бежите од духова
Comment[sr@ijekavian]=Једите бобице и бјежите од духова
Comment[sr@ijekavianlatin]=Jedite bobice i bježite od duhova
Comment[sr@latin]=Jedite bobice i bežite od duhova
Comment[sv]=Ät piller och undkom spöken
Comment[tr]=Hayaletlerden kaçarken ilaçları yutun
Comment[ug]=دورا يەپ ئالۋاستىدىن قۇتۇلۇش
Comment[uk]=Їжте пілюлі, тікайте від привидів
Comment[x-test]=xxEat pills escaping ghostsxx
Comment[zh_CN]=逃脱精灵吃豆子
Comment[zh_TW]=吃掉所有的豆子，並設法逃避小精靈的追捕
Icon=kapman
TryExec=kapman
Exec=kapman
Categories=Qt;KDE;Game;ArcadeGame;
X-DocPath=kapman/index.html
X-DBUS-ServiceName=org.kde.kapman
