[KGameTheme]
Name=Invisible
Name[cs]=Neviditelný
Name[de]=Unsichtbar
Name[el]=Αόρατος
Name[et]=Nähtamatu
Name[ga]=Dofheicthe
Name[gl]=Invisíbel
Name[it]=Invisibile
Name[ja]=暗闇
Name[km]=មើល​មិនឃើញ
Name[lv]=Neredzams
Name[nds]=Nich sichtbor
Name[nl]=Onzichtbaar
Name[nn]=Usynleg
Name[pt]=Invisível
Name[pt_BR]=Invisível
Name[ro]=Invizibil
Name[ru]=Невидимый
Name[sl]=Neviden
Name[sv]=Ät piller och undkom spöken
Name[tr]=Görünmeyen
Name[uk]=Невидимий
Name[x-test]=xxInvisiblexx
Name[zh_CN]=隐形
Name[zh_TW]=隱身
Description=Getting bored with Kapman? More than 100,000 points over level 20? Next step: the invisible maze!
Description[ga]=An bhfuil tú ag éirí bréan de Kapman? An bhfuil níos mó ná 100,000 pointe agat ar leibhéal 20? An chéad chéim eile: an lúbra dofheicthe!
Description[nds]=Warrt Kapman Di langtöögsch? Mehr as 100.000 Pünkt över de 20. Stoop? Denn kummt: De unsichtbore Biestergoorn!
Description[pt]=Está aborrecido com o Kapman? Já tem mais de 100 000 pontos no nível 20 ? Próximo passo : o labirinto invisível!
Description[pt_BR]=Está aborrecido com o Kapman? Já tem mais de 100 000 pontos no nível 20 ? Próximo passo : o labirinto invisível!
Description[sv]=Börjar du tröttna på Kapman? Mer än 100 000 poäng över nivå 20? Nästa steg: Den osynliga labyrinten!
Description[uk]=Втомилися від Kapman? Маєте більше за 100.000 очок на рівні вищому за 20? Наступний крок: невидимий лабіринт!
Type=SVG
VersionFormat=1
FileName=invisible.svgz
Preview=invisible_preview.png
Author=Thomas Gallinari
AuthorEmail=tg8187@yahoo.fr
RotateKapman=1
