[KGameTheme]
Name=Invisible
Name[gl]=Invisíbel
Name[pt]=Invisível
Name[pt_BR]=Invisível
Name[sv]=Ät piller och undkom spöken
Name[uk]=Невидимий
Description=Getting bored with Kapman ? More than 100,000 points over the level 20 ? Next step : the invisible maze !
Description[gl]=Abúrrese con Kapman? Máis de 100,000 pontos por riba do nível 20? Seguinte paso: o labirinto invisíbel!
Description[pt]=Está aborrecido com o Kapman ? Já tem mais de 100 000 pontos no nível 20 ? Próximo passo : o labirinto invisível !
Description[pt_BR]=Está aborrecido com o Kapman ? Já tem mais de 100 000 pontos no nível 20 ? Próximo passo : o labirinto invisível !
Description[sv]=Börjar du tröttna på Kapman? Mer än 100 000 poäng över nivå 20? Nästa steg: Den osynliga labyrinten!
Description[uk]=Втомилися від Kapman? Маєте більше за 100.000 очок на рівні вищому за 20? Наступний крок: невидимий лабіринт!
Type=SVG
FileName=invisible.svgz
Preview=invisible_preview.png
Author=Thomas Gallinari
AuthorEmail=tg8187@yahoo.fr
