[KGameTheme]
Name=Invisible
Name[cs]=Neviditelný
Name[de]=Unsichtbar
Name[el]=Αόρατος
Name[et]=Nähtamatu
Name[gl]=Invisíbel
Name[km]=មើល​មិនឃើញ
Name[nds]=Nich sichtbor
Name[nn]=Usynleg
Name[pt]=Invisível
Name[pt_BR]=Invisível
Name[ro]=Invizibil
Name[ru]=Невидимый
Name[sv]=Ät piller och undkom spöken
Name[tr]=Görünmeyen
Name[uk]=Невидимий
Name[x-test]=xxInvisiblexx
Name[zh_CN]=隐形
Name[zh_TW]=隱身
Description=Getting bored with Kapman ? More than 100,000 points over the level 20 ? Next step : the invisible maze !
Description[de]=Ist Kapman zu langweilig geworden? Wurden mehr als 100.000 Punkte in den 20 Ebenen erreicht? Dann zum nächsten Schritt: Das unsichtbare Labyrinth. 
Description[el]=Βαρεθήκατε το Kapman ; Περισσότεροι από 100,000 πάνω από το επίπεδο 20; Επόμενο βήμα: ο αόρατος λαβύρινθος !
Description[et]=Kapmanist tüdinud? Koos juba üle 100 000 punkti ja tase üle 20? Siis on järgmine aste nähtamatu labürint!
Description[gl]=Abúrrese con Kapman? Máis de 100,000 pontos por riba do nível 20? Seguinte paso: o labirinto invisíbel!
Description[km]=អផ្សុក​ជា​មួយ​នឹង Kapman ? ច្រើន​ជាង ១០០.០០០ លើស​កម្រិត​ទី ២០ ?ជំហាន​បន្ទាប់ ៖ ផ្លូវ​ដែល​មើល​មិនឃើញ !
Description[nds]=Warrt Kapman Di langtöögsch? Mehr as 100.000 Pünkt över de 20. Stoop? Denn kummt: De unsichtbore Biestergoorn!
Description[nn]=Lei Kappmann? Meir enn 100 000 poeng forbi nivå 20? Neste steg: den usynlege labyrinten!
Description[pt]=Está aborrecido com o Kapman ? Já tem mais de 100 000 pontos no nível 20 ? Próximo passo : o labirinto invisível !
Description[pt_BR]=Ficando entediado com Kapman? Mais de 100.000 pontos e acima do estágio 20? Próximo passo: o labirinto invisível!
Description[ro]=Vă plictisiți cu Kapman? Peste 100,000 de puncte după nivelul 20? Următorul pas: labirintul invizibil!
Description[ru]=Kapman для вас слишком прост? Более 100,000 очков на 20 уровне? Следующий шаг: невидимый лабиринт!
Description[sv]=Börjar du tröttna på Kapman? Mer än 100 000 poäng över nivå 20? Nästa steg: Den osynliga labyrinten!
Description[uk]=Втомилися від Kapman? Маєте більше за 100.000 очок на рівні вищому за 20? Наступний крок: невидимий лабіринт!
Description[x-test]=xxGetting bored with Kapman ? More than 100,000 points over the level 20 ? Next step : the invisible maze !xx
Description[zh_CN]=觉得 Kapman 有点无聊了吗？在 20 关里得了十万分以上了吗？那么请进入下一步：隐形迷宫！
Description[zh_TW]=開始覺得 Kapman 有點無聊了嗎﹖在 20 關內得到十萬分以上了嗎﹖ 下一步：隱形的關卡！
Type=SVG
FileName=invisible.svgz
Preview=invisible_preview.png
Author=Thomas Gallinari
AuthorEmail=tg8187@yahoo.fr
