[KGameTheme]
Name=Matches
Name[uk]=Сірники
Name[x-test]=xxMatchesxx
Description=A matches drawn maze
Description[uk]=Лабіринт з сірників
Description[x-test]=xxA matches drawn mazexx
Type=SVG
VersionFormat=1
FileName=matches.svgz
Preview=matches_preview.png
Author=Thomas Gallinari
AuthorEmail=tg8187@yahoo.fr
RotateKapman=1
