[KGameTheme]
Name=Mountain Adventure
Name[uk]=Пригоди в горах
Name[x-test]=xxMountain Adventurexx
Description=Default
Description[uk]=Типова
Description[x-test]=xxDefaultxx
Type=SVG
VersionFormat=1
FileName=mountain.svgz
Preview=mountain_preview.png
Author=Nicu Buculei, Eugene Trounev, Thomas Gallinari, Mauricio Piacentini
AuthorEmail=kde-games-devel@kde.org
RotateKapman=0
