[KGameTheme]
Name=Mountain Adventure
Name[ca]=Aventura de la muntanya
Name[cs]=Horské dobrodružství
Name[de]=Bergabenteuer
Name[el]=Ορεινή περιπέτεια
Name[es]=Aventura de montaña
Name[et]=Mägiseiklus
Name[fr]=Aventure montagnarde
Name[gl]=Aventura na montaña
Name[it]=Avventura in montagna
Name[km]=ភ្នំ​គ្រោះថ្នាក់
Name[lv]=Kalnu piedzīvojums
Name[nds]=Bargen-Eventüür
Name[nn]=Fjelleventyr
Name[pt]=Aventura na Montanha
Name[pt_BR]=Aventura na Montanha
Name[ro]=Aventură montană
Name[sv]=Bergsäventyr
Name[uk]=Пригоди в горах
Name[x-test]=xxMountain Adventurexx
Name[zh_CN]=山中冒险
Name[zh_TW]=山中冒險
Description=Default
Description[da]=Standard
Description[de]=Standard
Description[el]=Προκαθορισμένο
Description[es]=Predeterminado
Description[et]=Vaikimisi
Description[fr]=Par défaut
Description[gl]=Predeterminado
Description[it]=Predefinito
Description[ja]=標準
Description[km]=លំនាំដើម
Description[lv]=Noklusējuma
Description[nds]=Standard
Description[nn]=Standard
Description[pt]=Predefinição
Description[pt_BR]=Padrão
Description[sv]=Förval
Description[tr]=Öntanımlı
Description[uk]=Типова
Description[zh_CN]=默认
Description[zh_TW]=預設
Type=SVG
VersionFormat=1
FileName=mountain.svgz
Preview=mountain_preview.png
Author=Nicu Buculei, Eugene Trounev, Thomas Gallinari, Mauricio Piacentini
AuthorEmail=kde-games-devel@kde.org
RotateKapman=0
