[KGameTheme]
Name=Mummies Crypt
Name[ca]=La cripta de les mòmies
Name[da]=Mumiernes krypt
Name[de]=Mumien-Gruft
Name[el]=Η κρύπτη με τις μούμιες
Name[es]=La cripta de la momia
Name[et]=Muumiate krüpt
Name[eu]=Momien kripta
Name[ga]=Uaimh na Mumaithe
Name[gl]=A cripta das momias
Name[it]=Cripta delle mummie
Name[nds]=De Mumien ehr Graff
Name[nn]=Mumiens gravkammer
Name[pt]=Cripta das Múmias
Name[pt_BR]=Cripta das Múmias
Name[ru]=Саркофаги для мумий
Name[sr]=Мумијина крипта
Name[sr@latin]=Mumijina kripta
Name[sv]=Mumiens krypta
Name[uk]=Склеп з муміями
Name[x-test]=xxMummies Cryptxx
Name[zh_CN]=木乃伊的洞窟
Name[zh_TW]=木乃伊之穴
Description=Avoid the mummies at all costs!
Description[ca]=Evita les mòmies a tota costa!
Description[da]=Undgå mumierne for enhver pris
Description[de]=Meiden Sie die Mumien auf jeden Fall!
Description[el]=Αποφύγετε τις μούμιες με κάθε τρόπο!
Description[es]=¡Evita las momias a toda costa!
Description[et]=Väldi iga hinna eest muumiaid!
Description[eu]=Saihestu momiak edozein modutan!
Description[ga]=Seachain na mumaithe ar ais nó ar éigean!
Description[gl]=Evita as momias a toda costa!
Description[it]=Evita le mummie a tutti i costi!
Description[nds]=Nienich de Mumien in de Mööt kamen!
Description[nn]=Unngå mumiane!
Description[pt]=Evitar as múmias a todo o custo!
Description[pt_BR]=Evitar as múmias a todo o custo!
Description[ru]=Любой ценой избегайте мумий!
Description[sr]=Избегавајте мумије по сваку цену!
Description[sr@latin]=Izbegavajte mumije po svaku cenu!
Description[sv]=Undvik mumier till varje pris!
Description[uk]=Уникайте мумій за будь-яку ціну!
Description[x-test]=xxAvoid the mummies at all costs!xx
Description[zh_CN]=尽力摆脱全方位的木乃伊！
Description[zh_TW]=盡全力躲開木乃伊！
Type=SVG
VersionFormat=1
FileName=mummies_crypt.svgz
Preview=mummy_preview.png
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
RotateKapman=0
