[KGameTheme]
Name=Mummies Crypt
Name[bs]=Kripta Mumija
Name[ca]=La cripta de les mòmies
Name[ca@valencia]=La cripta de les mòmies
Name[cs]=Krypta mumií
Name[da]=Mumiernes krypt
Name[de]=Mumien-Gruft
Name[el]=Η κρύπτη με τις μούμιες
Name[en_GB]=Mummies Crypt
Name[es]=La cripta de las momias
Name[et]=Muumiate krüpt
Name[eu]=Momien kripta
Name[fi]=Muumiokrypta
Name[fr]=La crypte des momies
Name[ga]=Uaimh na Mumaithe
Name[gl]=A cripta das momias
Name[hr]=Mummies Crypt
Name[hu]=Múmiák
Name[id]=Mumi-mumi di Tempat yang Tersembunyi
Name[it]=Cripta delle mummie
Name[kk]=Мумия сағанасы
Name[km]=បន្ទប់​ក្រោម​ដី​របស់​ Mummies
Name[ko]=미라 미로
Name[lv]=Mūmiju kapenes
Name[mr]=ममीज क्रिप्ट
Name[nb]=Mumienes krypte
Name[nds]=De Mumien ehr Graff
Name[nl]=Mummies Crypt
Name[nn]=Mumiens gravkammer
Name[pl]=Krypta mumii
Name[pt]=Cripta das Múmias
Name[pt_BR]=Cripta das múmias
Name[ro]=Cripta mumiei
Name[ru]=Саркофаги для мумий
Name[sk]=Hrobka múmií
Name[sl]=Kripta mumij
Name[sr]=Мумијина крипта
Name[sr@ijekavian]=Мумијина крипта
Name[sr@ijekavianlatin]=Mumijina kripta
Name[sr@latin]=Mumijina kripta
Name[sv]=Mumiens krypta
Name[tr]=Mumya Mahzeni
Name[uk]=Склеп з муміями
Name[x-test]=xxMummies Cryptxx
Name[zh_CN]=木乃伊的洞窟
Name[zh_TW]=木乃伊之穴
Description=Avoid the mummies at all costs!
Description[bs]=Izbjegavajte mumije po svaku cijenu!
Description[ca]=Evita les mòmies a tota costa!
Description[ca@valencia]=Evita les mòmies a tota costa!
Description[da]=Undgå mumierne for enhver pris!
Description[de]=Meiden Sie die Mumien auf jeden Fall!
Description[el]=Αποφύγετε τις μούμιες με κάθε τρόπο!
Description[en_GB]=Avoid the mummies at all costs!
Description[es]=¡Evita las momias a toda costa!
Description[et]=Väldi iga hinna eest muumiaid!
Description[eu]=Saihestu momiak kosta ahala kosta!
Description[fi]=Vältä muumioita hinnalla millä hyvänsä!
Description[fr]=Évitez les momies à tout prix !
Description[ga]=Seachain na mumaithe ar ais nó ar éigean!
Description[gl]=Evita as momias a toda costa!
Description[hu]=Menekülés a múmiák elöl
Description[id]=Hindarilah mumi bagaimanapun caranya!
Description[it]=Evita le mummie a tutti i costi!
Description[kk]=Қалай болса да мумиядан жалтару керек!
Description[km]=ត្រូវ​តែ​រត់​គេច​ពី​ mummies ឲ្យ​បាន​ !
Description[ko]=무슨 일이 있어도 미라를 피하십시오!
Description[lv]=Izvairies no mūmijām par katru cenu!
Description[mr]=कोणत्याही किंमतीस ममीज ना टाळा !
Description[nb]=Unngå mumiene for all del!
Description[nds]=Nienich de Mumien in de Mööt kamen!
Description[nl]=Vermijdt de mummies ten koste van alles!
Description[nn]=Unngå mumiane!
Description[pl]=Za wszelką cenę unikaj mumii!
Description[pt]=Evitar as múmias a todo o custo!
Description[pt_BR]=Evite as múmias a todo o custo!
Description[ro]=Evitați mumiile cu orice preț!
Description[ru]=Любой ценой избегайте мумий!
Description[sk]=Za každú cenu uniknite múmiám!
Description[sl]=Za vsako ceno se izognite mumijam!
Description[sr]=Избегавајте мумије по сваку цену!
Description[sr@ijekavian]=Избјегавајте мумије по сваку цену!
Description[sr@ijekavianlatin]=Izbjegavajte mumije po svaku cenu!
Description[sr@latin]=Izbegavajte mumije po svaku cenu!
Description[sv]=Undvik mumier till varje pris!
Description[tr]=Her koşulda mumyalardan sakının!
Description[uk]=Уникайте мумій за будь-яку ціну!
Description[x-test]=xxAvoid the mummies at all costs!xx
Description[zh_CN]=尽力摆脱全方位的木乃伊！
Description[zh_TW]=盡全力躲開木乃伊！
Type=SVG
VersionFormat=1
FileName=mummies_crypt.svgz
Preview=mummies_crypt_preview.png
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
RotateKapman=0
