[KGameTheme]
Name=Retro
Description=The old game theme revisited
Description[sv]=Återbesök av det gamla speltemat
Type=SVG
FileName=retro.svgz
Preview=retro_preview.png
Author=Thomas Gallinari
AuthorEmail=tg8187@yahoo.fr
